/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

h1 {
	color: pink;
	font-size: 60px;
	font-family: 'Arial', sans-serif;
}
p {
	font-family:"Montserrat, sans-serif;
}
ul{
	background: #00BAD6;
	padding: 10px;
}
li {
	display: inline;
	margin:20px;
}
.black-title{
	color:black;
}
.container{
	width:50%;
	margin:0 auto;
}
