img {
	height:200px;
	width:200;
	border:10px solid white;
	border-radius:20px;
	margin-top:50px;
}
header {
background:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRs0luGBeciVR7qogdL1aBmGI5LxLEOXCxzoG1AUuamdeADB3Ztew"); 
text-align:center;
}

h1 {
	color: pink;
	font-size: 60px;
	font-family: 'Arial', sans-serif;
}
p {
	font-family:"Montserrat, sans-serif;
}
ul{
	background: #00BAD6;
	padding: 10px;
}
li {
	display: inline;
	margin:20px;
}
.black-title{
	color:black;
}
.container{
	width:50%;
	margin:0 auto;
}
